.footer {
  position: relative;
  padding-top: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
    height: calc(100% - 27px);
    background-color: $md_grey;
    z-index: -1;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }

  &__logo {
    margin-bottom: 1.9rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    width: 65.9%;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $black
  }

  &__underwear {
    &:not(:last-child) {
      margin-bottom: 5.5px;
    }
  }

  &__link {
    @include minGrayFont;
  }

  &__descr {
    @include minGrayFont;

    margin: 0;
    text-align: center;
    line-height: 24px;
  }
}

.social {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    position: relative;
    display: block;
    height: 30px;
    color: $grey;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      background-color: $primary_light;
      z-index: -1;
      opacity: 0;
      transition: opacity .3s ease;
    }

    &:focus {
      outline: none;
      color: $white;

      &::before {
        opacity: 1;
      }
    }

    @media screen {
      &:hover {
        color: $primary;

        &::before {
          opacity: 0;
        }
      }
    }

    &:active {
      color: $primary_shade;

      &::before {
        opacity: 0;
      }
    }
  }

  &__icon {
    transition: color .3s ease;
  }
}

@media(max-width: 1199px) {
  .footer {
    &__list {
      width: 77%;
    }
  }
}

@media(max-width: 850px) {
  .footer {
    &__container {
      flex-direction: column;
    }

    &__wrap {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.3rem;
      margin-right: 0;
    }

    &__logo {
      margin-bottom: 0;
    }

    &__list {
      padding-top: 6px;
      width: 100%;
    }
  }
}

@media(max-width: 576px) {
  .footer {
    padding-top: .6rem;
    &::before {
      height: calc(100% - 25px);
    }

    &__wrap {
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      row-gap: .8rem;
    }

    &__list {
      flex-wrap: wrap;
      row-gap: 1.6rem;
    }

    &__item {
      width: 47%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

