.header {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(27px, auto));
    gap: 2rem;
    align-items: center;
    grid-template-areas:
    "reg   reg   reg   reg   .   info   info   info   info   info   info   info"
    "logo  logo  .  navig  navig  navig  navig  navig  navig  navig  navig  navig"
    "search search search search search search search search search search cab cab";
  }

  &__wrap {
    display: flex;
    grid-area: cab;
    justify-self: end;
    gap: 43px;
  }
}

.region {
  grid-area: reg;
  display: flex;
  justify-content: space-between;

  &__field {
    display: flex;
    column-gap: 3px;
  }
}

.info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  grid-area: logo;
}

.toggle {
  grid-area: toggle;
  display: none;
}

.nav {
  grid-area: navig;

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &-toggle {
    display: none;
  }
}

.search {
  grid-area: search;
  display: flex;

  &__field {
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: center;
    column-gap: .7rem;
  }
}

.top {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 511px 405px;
    gap: 2rem;
    grid-template-areas:
    "sofa sofa sofa sofa sofa sofa armchair armchair armchair armchair armchair armchair"
    "bed bed bed bed pedestal pedestal pedestal pedestal chair chair chair chair";
  }

  &__sofa {
    grid-area: sofa;
  }
  &__armchair {
    grid-area: armchair;
  }
  &__bed {
    grid-area: bed;
  }
  &__pedestal {
    grid-area: pedestal;
  }
  &__chair {
    grid-area: chair;
  }
}

.sofa {
  &__top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 245px 81px;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas:
    "swiperTop swiperTop swiperTop swiperTop swiperTop swiperTop sofaContent sofaContent sofaContent sofaContent sofaContent sofaContent"
    "swiperBottom swiperBottom swiperBottom swiperBottom swiperBottom swiperBottom sofaContent sofaContent sofaContent sofaContent sofaContent sofaContent";
  }

  &__content {
    grid-area: sofaContent;
  }
}

.swiper-top {
  grid-area: swiperTop;
  width: 100%;
}

.swiper-bottom {
  grid-area: swiperBottom;
  width: 100%;
}

@media (max-width: 1199px) {
  .header {
    &__container {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(4, minmax(27px, auto));
      row-gap: 2rem;
      grid-template-areas:
      "reg    reg    reg    reg     reg      reg    reg    reg    reg"
      "info  info   info   info   info   info   info         cab  cab"
      "logo  logo     navig  navig  navig  navig  navig  navig  navig"
      "search search search search search search search search search";
    }

    &__wrap {
      margin-bottom: .65rem;
    }

  }

  .region {
    margin-bottom: -1.3rem;
  }

  .info {
    margin-bottom: .65rem;
  }

  .search {
    margin-top: .1rem;
  }

  .top {
    &__list {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2, 511px);
      grid-template-areas:
      "sofa sofa sofa sofa sofa sofa bed bed bed"
      "pedestal pedestal pedestal armchair armchair armchair chair chair chair";
    }
  }

  .sofa {
    &__top {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 202px 81px;
      grid-template-areas:
      "swiperTop swiperTop swiperTop swiperTop swiperTop sofaContent sofaContent sofaContent sofaContent"
      "swiperBottom swiperBottom swiperBottom swiperBottom swiperBottom  sofaContent sofaContent sofaContent sofaContent";
    }
  }
}

@media (max-width: 850px) {
  .header {
    &__container {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 2.1rem;
      grid-template-areas:
      "reg    reg     reg     reg     reg    reg"
      "info   info   info    info   info    info"
      "toggle    .    logo    logo    cab    cab"
      "search search search search search search";
    }

    &__wrap {
      margin-bottom: 0;
    }

  }

  .region {
    margin-bottom: -2rem;
  }

  .info {
    margin-bottom: 0;
  }

  .toggle {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 108px;
    left: 0;
    display: flex;
    justify-content: center;

    &__list {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .search {
    margin-top: -.1rem;
  }

  .top {
    &__list {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 511px);
      grid-template-areas:
      "sofa sofa sofa sofa sofa sofa"
      "bed bed bed armchair armchair armchair"
      "pedestal pedestal pedestal chair chair chair";
    }
  }

  .sofa {
    &__top {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 245px 349px;
      row-gap: 2rem;
      grid-template-areas:
      "swiperTop swiperTop swiperTop swiperTop swiperTop swiperTop"
      "swiperBottom swiperBottom sofaContent sofaContent sofaContent sofaContent";
    }

    &__content {
      align-self: center;
    }
  }
}

@media (max-width: 576px) {
  .breadcrumbs-list {
    display: none;
  }

  .header {
    &__container {
      row-gap: 1rem;
      grid-template-areas:
      "logo   logo    logo   logo    logo   logo"
      "reg    reg    reg      reg    reg     reg"
      "toggle     .      .     cab    cab    cab"
      "search search search search search search";
    }
  }

  .info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, minmax(14px, auto));
    row-gap: .75rem;

    &__item {
      &:nth-child(1) {
        grid-area: 1 / 1 / auto / span 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 3 / auto / span 4;
        justify-self: end;
      }

      &:nth-child(3) {
        grid-area: 2 / 1 / auto / span 3;
      }

      &:nth-child(4) {
        grid-area: 2 / 4 / auto / span 3;
        justify-self: end;
      }
    }
  }

  .logo {
    justify-self: center;
  }

  .region {
    justify-self: start;
    flex-direction: column;
    margin-bottom: 0;
  }

  .nav {
    top: 143px;
  }

  .search {
    margin-top: -.11rem;
    &__field {
      flex-direction: column;
      row-gap: 1rem;
    }
  }

  .top {
    &__list {
      grid-template-rows: 332px repeat(2, 206px);
      column-gap: 1rem;
    }
  }

  .sofa {
    &__top {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}
